
.box2 {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: palegreen;
width:100%;
height: 90vh;}


.fire {font-size: 40px;
color: red; }

.circle { 
    transform: translate(0px, -50%);
    background-color: red;
        border-radius: 80px;
    width: 80px;
    height: 80px;
text-align: center;}
    
.footer {display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    border-top: 5px solid red;}
    
    
    .idk{color: white;
        font-size: 20px;
        font-weight: 200;}

    .copy {color: rgb(59, 57, 57);}


    
